<h3>New User Sign Up :  </h3>
    <!-- email input -->
    <div class="form-group"
        [ngClass]="{'alert-danger': signupForm.get('email').errors 
                  && signupForm.get('email').touched}">

        <input type="email" class="form-control" formControlName="email" placeholder="Email">

        <div *ngIf="email.invalid && email.dirty">
            Your email doesnt look quite right
        </div>

        <label class="control-label has-error" 
          *ngIf="signupForm.get('email').touched 
          && signupForm.get('email').hasError('required')">
          email is required
        </label>
    </div>

    <!-- input knownAs-->
    <div class="form-group" 
          [ngClass]="{'alert-danger': signupForm.get('knownAs').errors 
          && signupForm.get('knownAs').touched}">
        <input  class="form-control"
          placeholder="Known as" 
          formControlName="knownAs">

        <label class="control-label alert-danger" 
          *ngIf="signupForm.get('knownAs').touched 
          && signupForm.get('knownAs').hasError('required')">
          Known as is required
        </label>
    </div>

      <!-- password -->
    <div class="form-group" 
          [ngClass]="{'alert-danger': signupForm.get('password').errors 
          && signupForm.get('password').touched}">
        <input type="password" class="form-control" formControlName="password"
                                              required placeholder="Password">

        <div class="tooltip" *ngIf="password.invalid && password.touched">
          Password must be between 6 and 24 charachters and at least one number
        </div>
        <label class="control-label alert-danger" 
            *ngIf="signupForm.get('password').touched 
            && signupForm.get('password').hasError('required')">
            Password Required
        </label>
    </div>

      <!-- confirm password-->
    <div class="form-group" 
          [ngClass]="{'alert-danger': signupForm.get('confirmPassword').errors
          && signupForm.get('confirmPassword').touched
          || signupForm.get('confirmPassword').touched
          && signupForm.hasError('mismatch') } ">
        <input type="password" class="form-control" formControlName="confirmPassword" 
                                                  required placeholder="confirm password">


        <label *ngIf="signupForm.hasError('mismatch') 
                  && signupForm.get('confirmPassword').touched" 
          class="control-label has-error" 
          for="inputError1" 
          id="inputError1">
          password must match
      </label>
        
    </div>

    <!-- Office -->
    <div class="form-group" 
        [ngClass]="{'alert-danger': signupForm.get('office').errors 
        && signupForm.get('office').touched}">
      <label for="office" class="control-label">Office</label>
        <select class="form-control" formControlName="office">
          <option *ngFor="let office of offices" value="{{office}}">{{office}}<option>
      </select>
      <label class="control-label alert-danger" 
            *ngIf="signupForm.get('office').touched 
            && signupForm.get('office').hasError('required')">
            Office Required
        </label>
    </div>


    <div *ngIf="signupForm.valid">lets do this! {{ signupForm.valid}} </div>

    <button type="submit" [disabled]="!signupForm.valid" class="form-control">Submit</button>