

<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4"></div>
        <app-pend-edit [pending]="pending" ></app-pend-edit>
    <div class="row">
    <div class="col-lg-4">
    </div>
</div>

    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Candidate </th>
                    <th> Job Owner </th>
                    <th>Candidate Owner </th>
                    <th> Salary </th>
                    <th> Fee % </th>
                    <th> Fee $</th>
                    <th> Notes </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pend of pending">
                    <!-- <td id="edit" (click)="bugDetail.configureForm(bug)" data-toggle="modal" [attr.data-target]=" '#' + bugDetail.modalId"> <i class="fa fa-pencil" aria-hidden="true"></i> </td>
                    <td id="delete" (click)="bugDetail.deleteBug(bug)"> <i class="fa fa-trash" aria-hidden="true"></i> </td> --> 
                    <td> {{ pend.company}} </td>
                    <td> {{ pend.candidate }}</td>
                    <td> {{ pend.jobOwner }} </td>
                    <td> {{ pend.sendOut }}  </td>
                    <td> {{ pend.baseSalary }}</td>
                    <td> {{ pend.feePercent }} </td>
                    <td> {{ calcFeeAmount(pend) }}  </td>
                    <td> {{ pend.status }} </td>
                </tr>
              </tbody>
        </table>
    </div>
</div>

<hr>

   
