



<div class="row justify-content-end">
    
    <div class="col-sm-2">
            <!-- <app-pend-edit *ngIf="show" [pending]="pending" #edit ></app-pend-edit>  -->
            <button class="btn btn-primary" (click)="open()">Add Pending</button>
    </div>
</div>
<!-- <form [formGroup]="updateFormData" >
    <select formControlName="office">
        <option *ngFor="let office of Offices" value={{office}}> {{office}}</option>
    </select>
    <select  formControlName="users">
        <option  *ngFor="let user of users" value={{user.knownAs}}> {{user.knownAs}}</option>
    </select>
</form>

    <button (click)="updateData()">Update</button> -->


    <div class="col-lg-12 table">
        <table class="table">
            <thead>
                <tr>
                    <th class="edit"></th>
                    <th class="delete"></th>
                    <th>Company</th>
                    <th class="jobOwner"> Job Owner </th>
                    <th> Salary </th>
                    <th> % </th>
                    <th> $</th>
                    <th> Notes </th>
                    <th *ngIf="clicked"> Candidate/Owner </th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pend of pending; let i = index" [attr.data-index]="i"   (click)="toggle(i)">
                    <td class="edit" (click)="edit(i)"   > <i class="fa fa-pencil" aria-hidden="true"></i> </td>
                    <td class="delete" (click)="delete(i)"   > <i class="fa fa-trash" aria-hidden="true"></i> </td>
                    <!-- <td id="delete" (click)="bugDetail.deleteBug(bug)"> <i class="fa fa-trash" aria-hidden="true"></i> </td> -->  
                    <td class='company'> {{ pend.company}} </td>
                    <td class='jobOwner'> {{ pend.jobOwner }} </td> 
                    <td class='salary'> {{ pend.baseSalary | currency }}</td>
                    <td class='percent'> {{ pend.feePercent }} </td>
                    <td> {{ calcFeeAmount(pend) | currency}}  </td> 
                    <td> {{ pend.status }} </td>
                    <table *ngIf="i === row && clicked">
                        <tr *ngFor="let cand of pend.cand"> 
                            <td > {{ cand.name }} </td>
                            <td> {{ cand.uid }}</td>
                            
                        </tr>
                    </table>
                    
                </tr>
            </tbody>
        </table>
    </div>

    

    <div class="row justify-content-end">
        <div class="col-md-4">
            <table class="table">
                <thead>
                    <tr>
                        <th> Avg Fee %</th>
                        <th> Total pending </th>
                    </tr>
                    <tr>
                        <td> {{ calcAvgFee(pending)| number }} </td>
                        <td>{{ calcTotal(pending) | currency }}</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    
   


<hr>

<!-- TODO: Remove -->
<tr *ngFor="let task of pending2 | async; let i = index" [attr.data-index]="i">
    <td>{{i + 1}}</td>
    <td></td>
    <td>{{task.id}}</td>
 </tr>
   
 <button (click)="test()">test</button>
