<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Pending</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


<div class="modal-body">
    <form [formGroup]="pendForm" >
        <div class="form-group" >
            <div class="row">
             <!--   Company  -->
                <div class="col"> 
                    <label class="control-label">Company:</label>
                    <input class="form-control" type="text" formControlName="company" placeholder="Company" >
                    <label class="control-label has-error" 
                        [ngClass]="{'alert-danger': pendForm.get('company').errors 
                        && pendForm.get('company').touched}"

                        *ngIf="pendForm.get('company').touched  
                        && pendForm.get('company').hasError('required')">
                        Company is Required
                  </label>
                </div>

            <!-- Job Owner -->
                <div class="col-lg-3">
                        <label class="control-label">Job Owner:</label>
                        <select class="form-control" formControlName="jobOwner">
                            <option *ngFor="let employee of employees" value="{{employee.uid}}">{{employee.knownAs}}</option>
                        </select>
                        <label class="control-label has-error" 
                            [ngClass]="{'alert-danger': pendForm.get('jobOwner').errors 
                            && pendForm.get('jobOwner').touched}"

                            *ngIf="pendForm.get('jobOwner').touched 
                            && pendForm.get('jobOwner').hasError('required')">
                            Job Owner as is Required
                      </label>
                </div>

            </div>

            <!-- salary -->
            <div class="row">
                <div class="col-lg-3">
                    <input class="form-control" type="text" formControlName="baseSalary" placeholder="Salary" >
                    <label class="control-label has-error alert-danger" 

                    *ngIf="baseSalary.invalid && baseSalary.touched">
                   Salary Required
              </label>

              <!-- Fee Percent -->
                    <div class="row">
                        <div class="form-group">
                            <input class="form-control" type="text" formControlName="feePercent" placeholder="Fee" >

                      <label class="control-label has-error alert-danger" 
                    
                       *ngIf="feePercent.invalid && feePercent.touched">
                        <span>Number must be 10-35</span>  
                      </label>
                        </div>
                    </div>
                </div>

                <!-- Notes -->
                <div class="col-lg-9">
                    <textarea class="form-control" rows="4" placeholder="Notes" formControlName="status"></textarea>
                    <label class="control-label has-error alert-danger" 

                    *ngIf="pendForm.get('status').touched 
                    && pendForm.get('status').hasError('required')">
                    Notes Required
                    </label>
                </div>
            </div>
          
        </div>

    <!-- candidates input  -->       
        <div class="row">
            <div class="col-lg-3">
                <button class="btn btn btn-primary btn-lg" [disabled]="!pendForm.valid" (click)="AddCandidate()">Add
                    Candidate</button>
            </div>
        </div>

    <!-- candidate -->
        <div *ngFor="let cand of candidates; let i = index">
            <div class="row">
                <div class="col-lg-6">
                    <input class="form-control" type="text" [formControlName]="cand.candidate" placeholder="Candidate">
                    <label class="control-label has-error alert-danger"
                    *ngIf="pendForm.get(cand.candidate).touched 
                    && pendForm.get(cand.candidate).hasError('required')">
                        Candidate is Required
                    </label>
                </div>

    <!-- candidate owner -->
                    <div class="col-sm-3">
                            <select class="form-control" [formControlName]="cand.sendOut">
                                <option *ngFor="let employee of employees" value="{{employee.uid}}">{{employee.knownAs}}</option>
                            </select>
                            <label class="control-label has-error rounded alert-danger" 
        
                                *ngIf="pendForm.get(cand.sendOut).touched 
                                && pendForm.get(cand.sendOut).hasError('required')">
                                Candidate Owner Required

                            </label>
                    </div>
                    <i (click)="removeCandidate(i, cand)" class="fa fa-minus-circle"></i>
                </div>
        </div> <!-- end ngFor-->
            
    <!-- end candidates inputs-->

    </form> <!-- end form -->
</div>
    <div class="modal-footer">
   
      <button type="button" class="btn btn-primary btn-lg" (click)="exit()">cancel</button>
      <button type="button" [disabled]="!pendForm.valid" class="btn btn-primary btn-lg" (click)="save()">Save</button>
     
    </div>
</ng-template>

  
<button class="btn btn-lg btn-primary" (click)="open(content)">Add Pending</button>


  


